.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #f0d2a3;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    color: #585858;

}

.main .nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-container{
    max-width: 80%;
    max-height: infinite;
    margin:auto;
}

.greet{
    margin: 20px 0px;
    max-width: 80%;
    font-size: 45px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 25px;
}

.greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #f2c707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 10px 0px 50px 0px;

}

.main .card{
    height: 150px;
    padding: 10px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 30px;
    padding: 4px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    font-size: 20px;
    color: #585858;
    font-weight: 500;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 80%;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
}

.search-box img{
    width: 20px;
    cursor: pointer;
}

.search-box input{
    flex:1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin:15px auto;
    text-align: center;
    font-weight: 300;
}


.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;

}

.result::-webkit-scrollbar {
    display:none;
}


.result-title{
    margin:20px;   
    margin-left: 40%;
    margin-right: 0px; 
    
    /* align-items: right; */
    text-align: right;
    max-width: 60%;
    color: #000000;
    font-size: 18px;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(230, 183, 131);
}

.result img{
    width: 40px;
    border-radius: 50%;

}

.result-data{
    align-items: start;
    gap:20px;
    font-size: 18px;
    color: #000000;
    white-space: pre-line;
    max-width: 900px;
}

.result-data a{
    color:rgb(188, 46, 7);
    border-radius: 10px;
    background-color: rgb(230, 183, 131);
    padding: 5px;
    gap: 5px;
    margin:5px;
    display: inline-block;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff , #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 1.5s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100% {
        background-position: 800px 0px;
    }
    
}

.result-data p{
    font-size: 17px;
    font-weight: 350;
    line-height: 1.3;
}

.output h2{
    color: #ea0909;
}